designs/pages/Forget_password/Forget_password.json
[
    {
        "id": "sd_1AFTVJKyFAEuGpLX",
        "type": "tab",
        "createdDate": "2023-08-03T13:18:31.612Z",
        "label": "Forget_password",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "Forget_passwordComponent"
    },
    {
        "id": "sd_a1fjUs1VD3UyT00q",
        "type": "OnInit",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_a1fjUs1VD3UyT00q",
        "category": "Lifecycle Events",
        "x": 225,
        "y": 60,
        "wires": [
            [
                "sd_vLWjEpjpIgnrmO8O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Forget_passwordComponent"
    },
    {
        "id": "sd_vLWjEpjpIgnrmO8O",
        "type": "PageVariables",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_vLWjEpjpIgnrmO8O",
        "category": "Function",
        "x": 375,
        "y": 60,
        "wires": [
            [
                "sd_UrRKCFUm6J7ZwfYR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Forget_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_RJUpfN2xLL2AmbDd",
        "type": "OpenDialog",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_wk2wdg3SYUht4eNt",
            "label": "Registration"
        },
        "relativePath": "app/components/Registration/Registration",
        "data": "this.page",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": false,
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": false,
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "this.page",
        "minHeight": "\"500px\"",
        "width": "this.page",
        "maxWidth": "\"400px\"",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "bh.response",
        "functionName": "sd_RJUpfN2xLL2AmbDd",
        "category": "Dialog",
        "x": 265,
        "y": 180,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "bool",
                "value": "false",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "bool",
                "value": "false",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "str",
                "value": "500px",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "str",
                "value": "400px",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "response",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Forget_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_cjpx9HIazoc4Zjdn",
        "type": "PageStart",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "pages",
        "nodeType": "start",
        "name": "register",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "register",
        "category": "General",
        "x": 105,
        "y": 180,
        "wires": [
            [
                "sd_ue9fHPfo63hjXrkn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Forget_passwordComponent"
    },
    {
        "id": "sd_Jz75bVs8q8kWhyFt",
        "type": "PageStart",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "pages",
        "nodeType": "start",
        "name": "login",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "login",
        "category": "General",
        "x": 488,
        "y": 427,
        "wires": [
            [
                "sd_MT0bSiZWMx0LdC3j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Forget_passwordComponent"
    },
    {
        "id": "sd_MT0bSiZWMx0LdC3j",
        "type": "OpenDialog",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_K2wQy2pKqNJezmBa",
            "label": ""
        },
        "relativePath": "app/components/undefined",
        "data": "this.page",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": false,
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": false,
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "this.page",
        "minHeight": "\"500px\"",
        "width": "this.page",
        "maxWidth": "\"400px\"",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "bh.response1",
        "functionName": "sd_MT0bSiZWMx0LdC3j",
        "category": "Dialog",
        "x": 591,
        "y": 427,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "bool",
                "value": "false",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "bool",
                "value": "false",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "str",
                "value": "500px",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "str",
                "value": "400px",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "response1",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Forget_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_kG3I7AE1otGl4zwg",
        "type": "Script",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.forgetpasswordform = page.fb.group({\n    useremail:[''],\n    newpassword:['']\n})",
        "functionName": "sd_kG3I7AE1otGl4zwg",
        "category": "Function",
        "x": 585,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Forget_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_UrRKCFUm6J7ZwfYR",
        "type": "UseDependency",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormBuilder",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "fb"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_UrRKCFUm6J7ZwfYR",
        "category": "Function",
        "x": 485,
        "y": 60,
        "wires": [
            [
                "sd_kG3I7AE1otGl4zwg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Forget_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_hMT0pozjAnqMKWqf",
        "type": "PageStart",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "pages",
        "nodeType": "start",
        "name": "resetpassword",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "resetpassword",
        "category": "General",
        "x": 465,
        "y": 160,
        "wires": [
            [
                "sd_5szeg3wm6PBx5hXv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Forget_passwordComponent"
    },
    {
        "id": "sd_5szeg3wm6PBx5hXv",
        "type": "Script",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.forgetpasswordform.value)",
        "functionName": "sd_5szeg3wm6PBx5hXv",
        "category": "Function",
        "x": 585,
        "y": 160,
        "wires": [
            [
                "sd_ZiUtDhoCmUpypi2S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Forget_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_q39vCe8XG9c9JZZI",
        "type": "PageStart",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "pages",
        "nodeType": "start",
        "name": "userlogin",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "userlogin",
        "category": "General",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "sd_4MoEJq07FOlkxqUE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "Forget_passwordComponent"
    },
    {
        "id": "sd_V8wuQieluaJDBS5k",
        "type": "OpenDialog",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_MUxF7WJ8mrRyfsbP",
            "label": "login"
        },
        "relativePath": "app/components/login/login",
        "data": "this.page",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": false,
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": false,
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "this.page",
        "minHeight": "\"500px\"",
        "width": "this.page",
        "maxWidth": "\"400px\"",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "bh.response",
        "functionName": "sd_V8wuQieluaJDBS5k",
        "category": "Dialog",
        "x": 345,
        "y": 300,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "bool",
                "value": "false",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "bool",
                "value": "false",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "str",
                "value": "500px",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "str",
                "value": "400px",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "response",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Forget_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_Z4BOPGeVTmssuGmG",
        "type": "OpenDialog",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_MUxF7WJ8mrRyfsbP",
            "label": "login"
        },
        "relativePath": "app/components/login/login",
        "data": "this.page",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": false,
        "backdropClass": "this.page",
        "closeOnNavigation": true,
        "direction": "this.page",
        "disableClose": "this.page",
        "hasBackdrop": true,
        "height": "this.page",
        "maxHeight": "this.page",
        "minHeight": "\"500px\"",
        "width": "this.page",
        "maxWidth": "\"400px\"",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "this.page.response2",
        "functionName": "sd_Z4BOPGeVTmssuGmG",
        "category": "Dialog",
        "x": 757,
        "y": 160,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "bool",
                "value": "false",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "bool",
                "value": "true",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "hasBackdrop": {
                "type": "bool",
                "value": "true",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "str",
                "value": "500px",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "str",
                "value": "400px",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "response2",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Forget_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_ZiUtDhoCmUpypi2S",
        "type": "CloseDialog",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.data",
        "functionName": "sd_ZiUtDhoCmUpypi2S",
        "category": "Dialog",
        "x": 665,
        "y": 160,
        "wires": [
            [
                "sd_Z4BOPGeVTmssuGmG"
            ]
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "data",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Forget_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_4MoEJq07FOlkxqUE",
        "type": "CloseDialog",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.data",
        "functionName": "sd_4MoEJq07FOlkxqUE",
        "category": "Dialog",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "sd_V8wuQieluaJDBS5k"
            ]
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "data",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Forget_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_ue9fHPfo63hjXrkn",
        "type": "CloseDialog",
        "z": "sd_1AFTVJKyFAEuGpLX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.data",
        "functionName": "sd_ue9fHPfo63hjXrkn",
        "category": "Dialog",
        "x": 185,
        "y": 180,
        "wires": [
            [
                "sd_RJUpfN2xLL2AmbDd"
            ]
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "data",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "Forget_passwordComponent",
        "generated": true
    }
]
